.sidebar {
    background-color: rgba(156, 123, 22, 0.05);
    border-radius: 10px;
    height: 680px;
    width: fit-content;
    max-height: 680px;   
    position: relative;
    cursor: pointer;
}

.img {
    padding: 20px;
}

.customLi {
    padding: 10px 100px;
    width: 100px;
    color: rgb(139, 139, 139);
    /* background-color: rgba(156, 123, 22, 0.15); */
}

.customLi:hover {
    background-color: rgba(156, 123, 22, 0.15);
    border-color: rgba(156, 123, 22, 0.15);
    cursor: pointer;
  }

.list {
    list-style-type: none;
    padding: 0;
    position: absolute;
    bottom: 20px;
}
