.gold {
    background-color: #fecc00;
}

.brown {
    background-color: #9c7b16;
}

.brownText {
    color: #9c7b16;
}

.center{
    display: flex;
    align-items: center;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.quill{
    height: 800px;
}

.button{
    margin-top: 20px;
    align-self: center;
    height: 40px;
    background-color: #9C7B16;
    font-size: 14px;
    transition: background-color 0.3s;
}