.button {
    font: inherit;
    border: 1px solid #fa7c69;
    background: #fa7c691c;
    color: #79430b;
    padding: 0.45rem 2.5rem;
    margin: 5px;
    cursor: pointer;
    font-size: 0.6rem;
    font-weight: 600;
    border-radius: 30px;
  }
  
  .button:hover,
  .button:active {
    background: #fa7c694c;
    border-color: #fc725d;
  }
  
  .button:focus {
    outline: none;
  }
  
  button:disabled,
  button:focus:disabled,
  button:hover:disabled,
  button:active:disabled {
    background: #ccc;
    border-color: #ccc;
    color: #666666;
    cursor: not-allowed;
  }