.card {
  padding: 0 0 20px 0;
  margin-top: 30px;
  max-width: 80rem;
  min-height: 30rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 1fr 1.5fr 0.5fr;
  grid-template-rows: 2rem;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.centerTextName {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #9c7b16;
  font-weight: 500;
  cursor: pointer;
}

.centerTextName:hover {
  font-weight: 700;
}

.centerText {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
  height: 100%;
  color: #292929;
  font-size: 13px;
}

.header {
  color: white;
  letter-spacing: 2px;
  font-weight: 500;
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.pagination span {
  cursor: pointer;
}

.disabled {
  color: #ccc; /* Change the color to gray or a color of your choice */
  cursor: not-allowed; /* Change the cursor to indicate it's not clickable */
  pointer-events: none; /* Make the button non-interactable */
}
