.card {
    padding: 0 0 20px 0;
    height: 170px;
    max-width: 730px;
    border-radius: 30px;
}

.smallCard{
    padding: 10px 20px 20px 20px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    gap: 15px;
    background-color: #FEFAF1;
}

.cardContent {
    display: flex;
    justify-content: flex-end; /* This aligns the CircularProgressWithLabel to the right */
  
}

.ratings, .ratingstech {
    font-size: small;
    font-weight: 500;
    color: rgb(131, 131, 131);
}
.ratingstech {
    margin-top: .8rem;
}

.viewbutton {
    background-color: #9C7B16;
    height: 40px;
    margin-top: 40px;
    font-size: 12px;
}

.container{
    margin: 30px;
    margin-top: 3rem;
    padding: 10px 30px 20px 100px;
    text-align: left;
    display: flex;
}

.cards{
    display: flex;
    gap: 20px;
}

.container h3 {
    font-weight: 500;
}


.ideaicon{
    width: 130px;
    margin-left: -8rem;
    margin-top: 1rem;
}

