.scrollable {
  padding: 0px 0px 15px 0px;
  /* margin-top: -0.5rem; */
  max-height: 500px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.centeredText {
  text-align: center; /* Horizontal centering */
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: center; /* Vertical centering */
  margin-top: 200px;
  color: rgb(131, 131, 131);
}

.scrollable::-webkit-scrollbar {
  width: 0.1rem;
  background-color: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scrollable::-webkit-scrollbar-track {
  background-color: transparent;
}

/* style={{ fontSize: "25px", color: '#9c7b16' }} */

.card {
  padding: 0 0 20px 0;
  height: 200px;
  max-width: 720px;
  border-radius: 30px;
  margin-left: 0.5rem;
}

.smallCard {
  padding: 10px 20px 20px 20px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  gap: 15px;
  background-color: #fefaf1;
}

.ratings,
.ratingstech {
  font-size: small;
  font-weight: 500;
  color: rgb(131, 131, 131);
}
.ratingstech {
  margin-top: 0.8rem;
}

.viewbutton {
  margin-left: 12rem;
  height: 35px;
  border: #ffffff;
  font-size: 70%;
  background-color: #9c7b16;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0.8rem;
}

.container {
  margin: 30px;
  margin-top: 3rem;
  padding: 10px 30px 20px 100px;
  text-align: left;
  display: flex;
}

.cards {
  display: flex;
  gap: 20px;
}

.container h3 {
  font-weight: 500;
}

.ideaicon {
  width: 130px;
  margin-left: -8rem;
  margin-top: 1rem;
}

.alignment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.head {
  font-size: 25px;
  color: #9c7b16;
  font-weight: bold;
}

.publish {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btmButton {
  display: flex;
  gap: 10px;
  align-self: flex-end;
  justify-content: center;
}

.button {
  margin-top: 20px;
  height: 40px;
  background-color: #9c7b16;
  font-size: 14px;
  width: 12rem;
  transition: background-color 0.3s;
}

.textarea {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  width: 86%;
  height: 70px;
  resize: none;
  font-size: 16px;
  font-family: "Calibri", sans-serif;
  background-color: white;
  color: black;
}
