.container {
    /* padding: 20px 150px 20px 30px; */
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 100px;
    width: 65vw;
}

.classroom{
    /* padding: 0; */
    text-align: center;
    min-width: 10rem;
    max-width: 10rem;
}
.containersub {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px
}

.textMargin {
    margin: 5px;
}

.container_card{
    padding: 10px 10px 40px 10px;
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(246, 199, 25, 0.2);
    max-width: 40rem;
}

.container_board{
    padding: 5px 5px 15px 5px;
    display: flex;
    text-align: left;
    width: 80%;
    background-color: rgba(246, 199, 25);
}

.ideaicon{
   width: 120px;
}

.words p{
    font-size: smaller;
}