.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px
}

.textMargin {
    margin: 5px;
}

.container_card{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(246, 199, 25, 0.2);
    max-width: 40rem;
}

.container_board{
    display: flex;
    text-align: left;
    width: 80%;
    background-color: rgba(246, 199, 25);
}

.ideaicon{
    width: 130px;
}