/* YourStyles.module.css */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .logo {
    margin-right: 20px;
  }
  
  .img {
    max-width: 50px; /* Adjust the max-width of your logo */
  }
  
  .navlist {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-left: auto;
  }
  
  .navitem {
    margin-right: 20px;
  }
  
  .navlink {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .navlink:hover {
    color: #ddd;
  }
  