.Search {
  margin-top: -10px;
  padding: 10px 20px 8px 40px;
  background-image: url(../../assets/magnifying.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: white;
  border: none;
  color: black;
  outline: none;
  height: 20px;
  width: 92%;
}

/* Search.module.css */

.searchContainer {
  position: relative;
  width: 100%;
}

.itemList {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.listItem {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.2s;
}

.listItem:hover {
  background-color: #f2f2f2;
}
